@font-face {
     font-family: Arial;
     src: url('../fonts/ArialRegular.woff') format('woff'),
          url('../fonts/ArialRegular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: Arial;
     src: url('../fonts/ArialBold.woff') format('woff'),
          url('../fonts/ArialBold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}