$grey-light: #dae6f1;
$grey: #b5b6bc;
$grey-dark: #7E7E82;
$blue-lighten: #a8d7fe;
$blue-light: #80bdff;
$blue: #3ea8ff;
$btn-color: white;
$shadow-color: rgba(50, 49, 49, 0.411);
$hover-color: rgba(185, 217, 252, 0.25);
$checked-focus-color: rgba(0, 123, 255, 0.25);
$color-main: white;
$color-secondary: #f5f7fa;
$color-error: brown;
$text-color: #1B1C21;
$text-color--secondary: $grey-dark;

$font-size: 1rem;
$font-size--large: 80px/14px*1rem;
$font-size--big: 36px/14px*1rem;
$font-size--price: 28px/14px*1rem;
$font-size--small: 12px/14px*1rem;

$font-weight: 500;
$font-weight--bold: bold;

$line-height: 24px/14px*1rem;
$line-height--small: 16px/14px*1rem;
$line-height--text: 20px/14px*1rem;

$font-family: "Arial", sans-serif;

$screen-xs: 450px;
$screen-xl: 584px;
$screen-md: 760px;
$screen-lg: 852px;