@import "../../style/mixins.scss";
@import "../../style/normalize.scss";
@import "../../style/variables.scss";
@import "../../style/fonts.scss";

.ticket-list {
   grid-row: 3/4;
   grid-column: 2/3;
   justify-self: center;
   list-style: none;
   padding: 0;

   &--loading {
      grid-row: 4/5;
   }
}